.togNav{ display:block; }
.togMain{ display:none; }

*{
	margin:0;
}
body{
	font-family:"Times";
	line-height: 1.5em;
	background-color:#DDD;
	/*color:#999;*/
}

body .Menu{
	position:absolute;
	z-index:10;
	padding:1em 1em;
	cursor:pointer;
}

nav{
	background-color:#EEE;
	display:none;
	padding:4em 1em;
	height:calc(100vh - 8em);
	/*transition: opacity 1s;*/
}
nav li{
	list-style: none;
	cursor:pointer;
}

main{
	/*position:absolute;*/
	
	padding:4em 1em;
	height:calc(100vh - 8em);
	width:calc(100vw - 2em)
	/*padding:3em 1em;*/
	/*margin-left:0;*/
	/*display:flex;*/
	/*transition: width .7s ease, margin-left .7s ease;*/
}

@media screen and (min-width:500px){
	.togNav{ margin-left:0; }
	.togMain{ display:block; }

	body{
		display:flex;
	}
	nav{
		background-color:#EEE;
		height:calc(100vh - 8em);
		min-width:150px;
		padding:4em 1em;
		margin-left:calc(-150px - 2em);
		transition:margin-left .5s ease;
		display:block;
	}
}