.noBreak{ white-space:nowrap; }
.linkedIn { opacity: .3; margin-left:20px;margin-top:5px; }
.linkedIn:hover { opacity: .7 }

body{
	font-size: 18px;	
}
h1{
	font-size: 2em;
}

body,
main h1{
	margin:0;
}
main{
	border-width:7px;
	border-color:#CCC;
	border-style:double;
	padding:2em 1em;
	font-family:Times;
}

main img{
	display:block; margin:0 auto 1.5em;
}
main .ME{
	display:none;
}
main p,
main li{
	line-height:1.3em;
}
main li{
	margin-bottom:1em;
}
section{
	margin-bottom:4em;
}
section h2{
	text-align:center; background-color:#444; padding:.2em 0; 
}
section h2 span{
	color:white;
}
section hr{
	border-style:dotted; margin:2em 0 3em;
}
section > .SectLine{
	display:none;
}
section article{
	margin:2em 0 3em;
	/*display:none;*/
}

.QUALIFICATION{
	margin-top:6em;
}
.QUALIFICATION table{
	width:100%;	
}
.QUALIFICATION table td{
	padding:.7em 0;
}
.QUALIFICATION table td:nth-child(2){
	padding:0 .5em
}


@media screen and (min-width:530px){
	body{
		margin:.5em;
		font-size: 16px;
	}
	main{
		border-width:7px;
		border-color:#CCC;
		border-style:double;
		padding:2em;
		max-width:700px;
		margin-left:auto; margin-right:auto;
		font-family:Times;
	}
	main img{
		float:right; margin:0 30px 20px; 
	}
	main .ME{
		display:block; float:right; height:140px; margin-left:0;
	}
	section h2{
		text-align:center; background-color:transparent; padding:0;
	}
	section h2 span{
		color:black;
		background-color:white; 
		padding:0 .7em;
	}
	section > .SectLine{
		display:block; margin:-38px auto 30px; border-width:5px; border-style:outset;
	}
	section article{
		margin:3em 0 3em;
	}
	h1{
		margin:0;
	}
}